body,html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e3e9f7; 
    width: 100%;
    height: 100%;
}
.navbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 800;
}

h2 { 
    text-align: center;
    font-size: 1rem;
    color: white;
    font-weight: 400 ;

}

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
 
  .column {
    flex: 25%;
    padding: 20px;
  }

label {
    color: #333;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}
.logo {
    animation: 3s ease-in 3s infinite alternate goLeft;
}

@keyframes goLeft{
    0% {
      transform:  translate(0px) rotateY(10deg); 
     }
    100%{
      transform: translate(0px) rotateY(40deg);
    }
  }

.carousel-inner {   
    padding-top: 110px;
    height: 100%;
    margin: 10px;
}
.carousel-inner img
{   height: 150px;
    min-width: 180%;
    padding-right: 90%;
    padding-left: 0%;
}
.container-2 {
    background-color: rgb(107, 156, 211);
    padding: 15px;
    width: 100%;
    height: 100%;
}

ul{
	list-style: none;
}
.footer{
	background-color: black;
    padding: 40px ;


}
.footer-col{
   width: 33%;
   padding: 0px 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.container-3 {
    background-color: rgb(32, 201, 46);
    height: 500px;
    margin-top: 2rem;
}

#carouselExampleDark {
    height: 280px;
}



/*responsive*/
@media screen and (max-width: 768px){
   .footer-col{
    width: 100%;
    margin-bottom: 20px;
   } 
   .container-2 {
       width: 100%;
       height: 1020px;
       margin: auto ;
   }
   .card-footer {
       width: 100%;
       margin: auto;


   }
   .btn {
       width: 50%;

    
   }
   .card {
       width: 100%;
       height: 480px;
       margin: auto;
   }
  .card-text,.card-title{
    height: 18px;
    width: 100%;
    font-size: 10px;   
    }
  .article,h3{
    font-size: 0.7rem;   
    height: 35px;
    margin: 2rem;
    text-align: center;
    }
    .carousel-inner img
    {   height: 150px;
        width: 100%;
        margin-right: 500px;
        
    }
}
@media screen and (min-width: 768px) {
 .c img {
     width: 400px;
     height: 300px;
     margin-bottom: 10px;  

 }
 .bg-primary{
     width: 500px;
 }

    
}

    


  


